<button class="scOrder" #myDiv (click)="OrderPlace($event)"><span class="scDefault">Place Your Order</span><span class="scSuccess">Order Placed
  <svg viewbox="0 0 12 10">
    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
  </svg></span>
<div class="scBox"></div>
<div class="scTruck">
  <div class="scBack"></div>
  <div class="scFront">
    <div class="scWindow"></div>
  </div>
  <div class="scLight scTop"></div>
  <div class="scLight scBottom"></div>
</div>
<div class="scLines"></div>
</button>
